.sort-button {
    float: right;
    padding: 20px;
}

.todo-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.todo-container {
    display: inline-block;
    height: 150px;
    padding: 10px;
}

.todo-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.2s cubic-bezier(0.2, 0, 0.2, 1);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    border-left: 8px solid;
}

.todo-content:hover {
    -webkit-transform: scale(1.02);
}
